*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    &::-webkit-scrollbar{
        display: none !important;
    }
}

body,#root{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    
}

p,h1,h2,h3{
    margin: 0;
    padding: 0;
}

$color: #1abc9c;

.login-page{
    width: 100vw;
    min-height: 100vh;
}
.register-page{
    width: 100vw;
    min-height: 100vh;
}